*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid #f00 !important; */
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    margin: 0px auto;
    box-sizing: border-box;
    justify-content: center;
    width: 80%;
}
.rentMobile{
    display: none;
}
.rent{
    width: 25%;
    height: 100vh;
    position:sticky;
    overflow: auto;
    top: 0px;
    background-color: rgb(241, 240, 240);
  box-sizing: border-box;
}
.rentHeading{
    box-sizing: border-box;
    padding:30px 20px;
    border-bottom: 1px solid #ddd;
}
.rentHeading p{
    padding: 5px 0px;
}
.headingP{
    font-size: 25px;
}
.cheak{
    padding: 20px;
}
.cheak p i{
    padding: 0px 5px;
}
.cheak input{
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    margin: 15px 0px;
}
.cheak button{
    width: 100%;
    padding: 10px 12px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    background-color: rgb(24, 174, 24);
    color: white;
    margin: 5px 0px;
}
.bottom{
    padding: 0px 0px;
    box-sizing: border-box;
}
.bottom a{
    display: block;
    /* margin: 15px 0px; */
    text-decoration: none;
    padding: 20px 20px;
    color: black;
}
.bottom a:hover,.cheak button:hover{
    background-color: #aaa;
    color: black;
}
